<html>

<head>
	<link rel="stylesheet" href="static/challenge.css">
</head>

<body>

	<!-- <input id="myButton" type="button" onclick="change()" value="Close Curtain"></input> -->
	<input id="myButton" type="button" onclick="change()" background-image:url(static/test-image.png)>

	<script>

		function change() {
			var elem = document.getElementById("myButton");
			if (elem.background-image=="static/test-image.png") elem.background-image="static/test-image2.png";
			else elem.background-image="static/test-image.png";
		}

	</script>
 
</body>

</html>
