$def with (num_tiles)

<head>
	
	<em>THIS IS THE HTML HEADER</em>
	<br>	
	Lets print out $num_tiles tiles in a grid...
	<br>
	<br>

	<style type="text/css">
		
		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.button{
			background: url(static/lion.jpeg);
			/*background-color: green;*/
			cursor: pointer;
			border-style: solid;
			height: 200px;
			width: 200px;
			font-size: 30px; /* change this to 0 later when using images  */
			font-weight: bold;
			color: white;
		}

		.show-selected{
			font-size: 32px;
			font-weight: bold;
			border-style: none;
			background-color: DarkBlue;
			color: white;
		}

	</style>

<head>


<body style = "background-color: DarkBlue;">

	<em>THIS IS THE HTML BODY</em>
	
	<div class="row">
		$for i in range(num_tiles):
			$code:
				id = "button%d" % i
			<input type="button" value=0 id=$id onclick="selectItem(this)" class="button">
	</div>


	<script>
		var select_count = 0 //to store total number of tiles currently selected
		
		// Determine what happens when a tile is clicked
		function selectItem(b) {
			var doc = document.getElementById(b.id)
			var button_color = doc.style.backgroundColor
			var button_value = doc.value

			if (button_value==0) {
				button_color="red"; button_value=1; select_count++
			} else {
				button_color="green"; button_value=0; select_count--
			}
			doc.style.backgroundColor = button_color
			doc.value = button_value

			// Print out tile values and total selected to the browser console
			console.log(doc.value)
			console.log(select_count)

			// Show alert if user selects more than 5 items
			if (select_count > 5) {
				alert("More than maximum number of 5 tiles selected!");
			}

			document.getElementById("num_selected").value = select_count
		}
	</script>

</body>

<footer>
	<h1 style="color: white;">
		Number of selected tiles: 
		<input type="button" value=0 id="num_selected" class="show-selected">
	</h1>
</footer>
