
<head>
	<style type = "text/css">
		.cd-text {
			font-size: 30px;
			font-weight: bold;
		}
		.cd-num {
			font-size: 300px;
			font-weight: bold;
			text-align: center;
		}
	</style>

	<div class="cd-text">Challenge will begin in...</div>
</head>


<body>
	<div class="cd-num" id="countdown">6</div>
	
	<script type="text/javascript">
  		var seconds;
  		var temp;
 
		function countdown() {
    			seconds = document.getElementById('countdown').innerHTML;
    			seconds = parseInt(seconds, 10);
 
    			if (seconds == 1) {
      				temp = document.getElementById('countdown');
      				// temp.innerHTML = "all done, bye bye";
				window.open("challenge", "_self")
      				return;
    			}
 
    		seconds--;
    		temp = document.getElementById('countdown');
    		temp.innerHTML = seconds;
    		timeoutMyOswego = setTimeout(countdown, 1000);
  		}
 
  		countdown();
	</script>

</body>
